{% extends 'base.html' %}

{% block content %}
  <h1>Lista de gastos</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Categoría</th>
        <th>Descripción</th>
        <th>Cuenta bancaria</th>
      </tr>
    </thead>
    <tbody>
      {% for gasto in gastos %}
        <tr>
          <td>{{ gasto.id }}</td>
          <td>{{ gasto.fecha }}</td>
          <td>{{ gasto.monto }}</td>
          <td>{{ gasto.categoria }}</td>
          <td>{{ gasto.descripcion }}</td>
          <td>{{ gasto.cuenta_bancaria }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No se han encontrado gastos.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
